
header {
	background-color: rgb(54, 54, 54);
	display:flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-width: 375px;
	height: 17vh;
	position: relative;
}
.header-interior {
	background-color: rgb(54, 54, 54);
	display:flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	width: 100%;
	height: 17vh;
	position: relative;
	overflow: hidden;
}
.header-titulos {
	font-family: 'Kavoon', cursive;
	letter-spacing: 5px;
}

header div{
	display: flex;
	flex-direction: column;
	padding-left: 0.5rem;
	font-size: 15px;
	color: rgb(233, 233, 233);
}

.pongo {
	padding-left: 30px;
}

header img {
	width: 31vw;
	min-width: 155px;
	overflow: hidden;
}


/* ipad- de 768px hasta 1280px */
@media screen and ( min-width: 768px) {

	header {
		background-color: rgb(54, 54, 54);
		display:flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 17vh;
		position: relative;
	}
	.header-interior {
		width: 70%;
	}

	.header-titulos {
		font-size: x-large;
	}

	header img {
		width: 15vw;
		overflow: hidden;
	}
	
}

/* laptop - de 1280px en adelante */
@media screen and ( min-width: 1280px) {

	header {
		background-color: rgb(54, 54, 54);
		display:flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 17vh;
		position: relative;
	}
	.header-interior {
		width: 70%;
	}

	.header-titulos {
		font-size: xx-large;
	}

	header img {
		width: 10vw;
		overflow: hidden;
	}

}