.modal {
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100vh;
	background-color: rgba(0, 0, 0, 0.884);
	display: none;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.modal div:first-child {
	display: flex;
	justify-content: center;
	margin-bottom: 5px;
}

.modal.is-open {
	display: flex;
}

.modal-cuerpo {
	padding: 10px;
	position: relative;
	width: 70vw;
	height: 50vh;
	border-radius: 4px;
	background-color: rgb(255, 255, 255);
	box-shadow:0.1em 0.1em 0.5em rgba(0, 0, 0, 0.3);
	overflow-y: auto;
	margin-bottom: 50px;
}

.btn-modal-cerrar {
	cursor: pointer;
	width: 4em;
	height: 2em;
	/* position:absolute;
	top: 10em;
	left: 19.9em; */
	border: none;
	background-color: rgba(54, 54, 54, 0.87);
	color: rgb(233, 233, 233);
	font-weight: 700;
	border-radius: 3px;
}
