.cant-participantes {
	display: flex;
	width: 90%;
	background-color: white;
	border-radius: 8px;
	box-shadow: 0.1em 0.1em 0.5em rgba(0, 0, 0, 0.3);
	padding: 1rem 1rem;
}

.btn-cambiar {
	cursor: pointer;
	margin-left: 1em;
	padding: 0 10px;
	border: none;
	background-color: rgba(54, 54, 54, 0.87);
	box-shadow: 0.1em 0.1em 0.5em rgba(0, 0, 0, 0.3);
	color: rgb(233, 233, 233);
	border-radius: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
}