.App {
	margin:1rem auto;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1em;
	color: var(--fuente-color-oscuro);
	font-family: 'Quicksand', sans-serif;
}

.btn-modal {
	cursor: pointer;
	padding: 0.7em 0.8em;
	border: none;
	background-color: rgba(54, 54, 54, 0.87);
	box-shadow: 0.1em 0.1em 0.5em rgba(0, 0, 0, 0.3);
	color: var(--fuente-color-claro);
	font-weight: 700;
	border-radius: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 0.9rem;
}

/* ipad- de 768px hasta 1280px */
@media screen and ( min-width: 768px) {

	.App {
		
		width: 70vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1em;
		
	}
	
}

/* laptop - de 1280px en adelante */
@media screen and ( min-width: 1280px) {

	.App {
		
		width: 60vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1em;
		
	}
}