@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kavoon&family=Quicksand:wght@300;400;500;600;700&display=swap');


:root {
	--header-color-fondo-oscuro: rgb(54, 54, 54);
	--fondo-color-claro: rgb(233, 233, 233);
  
	--fuente-color-claro: rgb(233, 233, 233);
	--fuente-color-oscuro: rgba(54, 54, 54, 0.87);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	
}
body {
	background-color: rgb(255, 255, 255);
}